Repository RussSmi/azure-int-demo-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/package-platform.yml, pipelines/package-workflow.yml

pipelines/package-platform.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: echo Hello, world!
    displayName: Run a multi-line script
  - script: 'echo Add other tasks to build, test, and deploy your project.
  
      echo See https://aka.ms/yaml
  
      '
    displayName: Run a multi-line script
  - task: CopyFiles@2
  ...

pipelines/package-workflow.yml:
  pool:
    vmImage: ubuntu-18.04
  jobs:
  - job: logic_app_build
    displayName: Build and publish logic app
    steps:
    - task: CopyFiles@2
      displayName: Create project folder
      inputs:
        SourceFolder: $(System.DefaultWorkingDirectory)/logicapps
        Contents: 'host.json
  
          proxies.json
  
  ...

Update package-workflow.yml for Azure Pipelines
  pipelines/package-workflow.yml
Due: none

Add bicep script
  pipelines/scripts/bicep-deploy.sh
Due: none

Script update
  pipelines/scripts/bicep-deploy.sh
Due: none

Script debug
  pipelines/scripts/bicep-deploy.sh
Due: none

Deploy name issue
  pipelines/scripts/bicep-deploy.sh
Due: none

Update bicep-deploy.sh
  pipelines/scripts/bicep-deploy.sh
Due: none

Tidy up bicep
  bicep/scrapedarm.bicep
  bicep/scrapedarm.json
  pipelines/scripts/bicep-deploy.sh
Due: pipelines/package-workflow.yml

Changing logic app url for storage
  logicapps/connections.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Adding connection to Bicep
  .gitignore
  bicep/singletenantappservice.bicep
Due: pipelines/package-workflow.yml

Connection setting
  .gitignore
  bicep/singletenantappservice.bicep
Due: pipelines/package-workflow.yml

debug
  logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
  logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.pdb
  logicapps/connections.json
  notes/cmds.txt
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

demo test
  notes/cmds.txt
  platform/apim.tf
Due: none

Update connection url
  logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
  logicapps/connections.json
  logicapps/host.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Connection added to bicep
  bicep/singletenantappservice.bicep
Due: pipelines/package-workflow.yml

Policy to xml file
  .gitignore
  bicep/singletenantappservice.bicep
  platform/apim.tf
  platform/apim_policies/op_post_policy.xml
  platform/variables.tf
Due: pipelines/package-workflow.yml

Change connection
  .gitignore
  logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
  logicapps/connections.json
  logicapps/la-subscribe-ais-demo/workflow.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Add Throttling
  platform/apim_policies/op_post_policy.xml
Due: none

Remove throttling
  platform/apim_policies/op_post_policy.xml
Due: none

Change to built in blob connector
  bicep/deploy.prod.json
  bicep/singletenantappservice.bicep
  logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
  logicapps/connections.json
  logicapps/la-subscribe-ais-demo/workflow.json
  platform/variables.tf
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

remove api connection
  bicep/singletenantappservice.bicep
  main.tf
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Demo test
  logicapps/Artifacts/Maps/jsontrans.liquid
  notes/cmds.txt
  platform/apim_policies/op_post_policy.xml
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

DEmo test
  platform/apim_policies/op_post_policy.xml
Due: none

Removed commented out storage account
  platform/main.tf
Due: none

Update to latest tf, move base policy to xml
  base/apim-service.tf
  base/apim_policies/apim_policy.xml
  base/main.tf
  base/tf.plan
  base/variables.tf
  platform/apim.tf
Due: none

Update sbconnection
  logicapps/connections.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Update verdsion of logic apps runtime
  .gitignore
Due: none

Update logic app runtime
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  logicapps/.vscode/launch.json
  logicapps/.vscode/settings.json
  logicapps/.vscode/tasks.json
  logicapps/Artifacts/Maps/jsontrans.liquid
  logicapps/connections.json
  logicapps/host.json
  logicapps/la-publish-ais-demo/workflow.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Update connections
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
  logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.pdb
  logicapps/.vscode/extensions.json
  logicapps/.vscode/launch.json
  logicapps/.vscode/settings.json
  logicapps/.vscode/tasks.json
  logicapps/connections.json
  logicapps/host.json
  logicapps/la-publish-ais-demo/workflow.json
  logicapps/la-subscribe-ais-demo/workflow.json
  readme.md
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Tidy bicep
  bicep/singletenantappservice.bicep
Due: pipelines/package-workflow.yml

Lubna
  .gitignore
  platform/apim_policies/op_post_policy.xml
Due: none

Comment throttle
  platform/apim_policies/op_post_policy.xml
Due: none

Add http test & prod tags
  base/nonprod.tfvars
  base/prod.tfvars
  tests/apitests.http
Due: none

update tags
  base/tf.plan
  env/prod.tfvars
Due: pipelines/package-platform.yml

Add codespace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/azcli-debian.sh
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/docker-debian.sh
  .devcontainer/library-scripts/node-debian.sh
  .devcontainer/library-scripts/terraform-debian.sh
  base/imports.txt
  base/tf.plan
Due: none

Path conditions:
  pipelines/package-platform.yml: any of: functions, logicapps, env, backend*.hcl, *.tf, but not: base, tfstate
  pipelines/package-workflow.yml: any of: logicapps, bicep, but not: functions, base, notes, pipelines, platform, tfstate, .gitignore, azure-int-demo-v2.code-workspace, readme.md
