Repository RussSmi/azure-int-demo-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/package-platform.yml, pipelines/package-workflow.yml

pipelines/package-platform.yml:

# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - main
  paths:
    include:    
    - functions
    - logicapps
    - env
    - backend*.hcl
    - '*.tf'      
    exclude:
      - base
      - tfstate


pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a multi-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    TargetFolder: '$(build.artifactstagingdirectory)'
    Contents: '**'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

pipelines/package-workflow.yml:

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - logicapps
    - bicep
    exclude:
      - functions
      - base
      - notes
      - pipelines
      - platform
      - tfstate
      - .gitignore
      - azure-int-demo-v2.code-workspace
      - readme.md

pr: none

pool:
  vmImage: 'ubuntu-18.04'

variables:
- template: variables/pipeline-vars.yml

jobs:
- job: logic_app_build
  displayName: 'Build and publish logic app'
  steps:
  - task: CopyFiles@2
    displayName: 'Create project folder'
    inputs:
      SourceFolder: '$(System.DefaultWorkingDirectory)/logicapps'
      Contents: |
        host.json
        proxies.json
        connections.json
        Artifacts/**/*
        la-publish-ais-demo/**
        la-subscribe-ais-demo/**
      TargetFolder: 'project_output'
  - task: CopyFiles@2
    displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
    inputs:
      SourceFolder: '$(System.DefaultWorkingDirectory)/pipelines/scripts'
      TargetFolder: '$(build.artifactstagingdirectory)/scripts'
      Contents: '**'
  - task: CopyFiles@2
    displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
    inputs:
      SourceFolder: '$(System.DefaultWorkingDirectory)/bicep'
      TargetFolder: '$(build.artifactstagingdirectory)/bicep'
      Contents: '**'

  - task: ArchiveFiles@2
    displayName: 'Create project zip'
    inputs:
      rootFolderOrFile: '$(System.DefaultWorkingDirectory)/project_output'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      replaceExistingArchive: true

  - task: PublishPipelineArtifact@1
    displayName: 'Publish project zip artifact'
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      artifact: '$(logicAppCIArtifactName)'
      publishLocation: 'pipeline'
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/**'
      ArtifactName: 'drop'
      publishLocation: 'Container'

Delete tf.plan
  base/tf.plan
Due: none

correct env value
  bicep/singletenantappservice.bicep
Due: pipelines/package-workflow.yml

Update app service plan sku
  bicep/singletenantappservice.bicep
Due: pipelines/package-workflow.yml

rename sb topics
  logicapps/la-publish-ais-demo/workflow.json
  logicapps/la-subscribe-ais-demo/workflow.json
  platform/service-bus.tf
  tests/apitests.http
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Update subscription name
  logicapps/la-subscribe-ais-demo/workflow.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Refactor, move sb & strg to base
  base/imports.txt
  base/la-rg.tf
  base/service-bus.tf
  base/storage.tf
  bicep/singletenantappservice.bicep
  platform/main.tf
Due: pipelines/package-workflow.yml

update tests
  tests/apitests.http
Due: none

add throttling
  platform/apim_policies/op_post_policy.xml
Due: none

Comment throttling
  platform/apim_policies/op_post_policy.xml
Due: none

remove subscription keys
  base/imports.txt
  notes/cmds.txt
  tests/apitests.http
Due: none

Fix url
  readme.md
Due: none

Clean up
  .gitignore
  tests/apitests.http
Due: none

Upgrade provider to v3
  backend-nonprod.hcl
  backend-prod.hcl
  base/backend-nonprod.hcl
  base/backend-prod.hcl
  base/main.tf
  base/service-bus.tf
  base/storage.tf
  base/variables.tf
  tfstate/statestore.tf
Due: pipelines/package-platform.yml

Update storage account name
  base/storage.tf
Due: none

Renaming resources
  base/apim-service.tf
  base/variables.tf
Due: none

Update KV access
  base/variables.tf
Due: none

Local build
  base/apim-service.tf
  base/nonprod.tfvars
  base/prod.tfvars
  base/service-bus.tf
Due: none

Upgrade provider
  main.tf
  notes/cmds.txt
  platform/apim.tf
  platform/main.tf
Due: pipelines/package-platform.yml

Updated git ignore
  .gitignore
Due: none

Rename storage
  bicep/deploy.nonprod.json
  bicep/deploy.prod.json
  bicep/singletenantappservice.bicep
Due: pipelines/package-workflow.yml

Rename web site
  .gitignore
  bicep/singletenantappservice.bicep
  env/nonprod.tfvars
  env/prod.tfvars
  notes/cmds.txt
  pipelines/variables/pipeline-vars.yml
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

End to end test update
  platform/apim_policies/op_post_policy.xml
  tests/apitests.http
Due: none

Change throttling
  .gitignore
  notes/cmds.txt
  platform/apim_policies/op_post_policy.xml
  tests/apitests.http
Due: none

remove throttle
  ft.plan
  platform/apim_policies/op_post_policy.xml
Due: none

Add throttling
  platform/apim_policies/op_post_policy.xml
Due: none

Throttle change
  platform/apim_policies/op_post_policy.xml
Due: none

Harsh throttling
  platform/apim_policies/op_post_policy.xml
Due: none

Add products
  base/apim-service.tf
  platform/apim.tf
Due: none

Fix limits
  base/apim-service.tf
  base/main.tf
Due: none

Add guest users
  base/apim-service.tf
Due: none

update throttle
  .gitignore
  platform/apim_policies/op_post_policy.xml
Due: none

Add product policies
  base/apim-service.tf
  base/apim_policies/apim_policy.xml
  base/apim_policies/apim_policy_free.xml
  base/apim_policies/apim_policy_global.xml
  base/apim_policies/apim_policy_pay.xml
Due: none

Swap rate limit for xml to json
  platform/apim_policies/op_post_policy.xml
Due: none

Include app service plan in TF remove Bicep
  base/apim-service.tf
  base/la-rg.tf
  base/logic-app.tf
  base/main.tf
  base/storage.tf
  notes/cmds.txt
Due: none

Update package-workflow.yml for Azure Pipelines
  pipelines/package-workflow.yml
Due: none

LA to return JSON
  notes/cmds.txt
Due: none

LA to return JSON
  logicapps/la-publish-ais-demo/workflow.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

Debug
  .gitignore
  logicapps/la-publish-ais-demo/workflow.json
Due: pipelines/package-platform.yml, pipelines/package-workflow.yml

debug policy
  platform/apim_policies/op_post_policy.xml
Due: none

debug
  platform/apim_policies/op_post_policy.xml
Due: none
